PORT=5000
MONGODB_URI=mongodb+srv://astro:astro@cluster0.sfmuy.mongodb.net/astro-db
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
JWT_SECRET=astrosecret
JWT_EXPIRE=1d
RAZORPAY_KEY_ID=razorpay_key
RAZORPAY_KEY_SECRET=razorpay_secret

YOUTUBE_API_KEY=AIzaSyDyf_ZenHcgVnGTPlW8YZQGIrT81LH7Yzw
YOUTUBE_CHANNEL_ID=UCZLy-iA5BhOQDoJ0HWvFhvg
PRODUCT_SHIPPING_INFORMATION=Default Shipping Information Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
PRODUCT_RETURNS_INFORMATION=Default Returns Information Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.